.showArticle{
  margin: 0 auto;
  margin-top:60px;
  width: 80%;
  min-width:600px;
  padding-left: 15px;
  padding-right:15px;
  padding-bottom: 30px;
  background-color: white;

  .edit-button{
    float:right;
    margin-top: 10px;
  }

  .assign-button{
    margin-top: 10px;
  }

  .select-list-form{
    display: inline-block;
    margin-top: 10px;
  }

  .select-lists{
    width:350px;
  }
}

.showArticle .articleTitle{
  font-size: 50px;
}

.showArticle .tags{
  display:flex;
  flex-wrap: wrap;
}
.showArticle .tag{
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #999999;
  border: 0.5px solid #aaaaaa;
  border-radius: 0.6em;
  padding-left: 5px;
  padding-right:5px;
}

.container-for-btn{
  margin: 0 auto;
  width: 80%;
  min-width:600px;
  height: 20px
}
.delete-button{
  float:right;
  margin-top: 10px;
  color: red;
}
