#new_list_name{
  width:80%;
  display: inline-block;
  margin: 10px;
}

#button_for_display{
  margin: 10px;
}

.titleAndSeries{
  margin: 0 auto;
  width:70%;
  min-width:400px;
}
.titleOfSeries{
  margin-top:10px;
  width: 100%;
  min-width:400px;
  font-size: 40px;
  color: #444;
  padding-left: 15px;
  padding-right:15px;
}

.showLists{
  margin-top:30px;
  padding-bottom: 10px;
  width:100%;
  min-width:400px;
  background-color: white;
  overflow:hidden;
}

.showLists .list{
  margin:10px;
  margin-left: 20px;
  margin-right: 20px;
  height:100px;
  border: 0.5px solid #aaaaaa;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}
.showLists .list:hover{
  background-color: #efefef;
}
.showLists .listTitle{
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}

.tab-linktext{
  color: black;
}