.titleAndSeries{
  margin: 0 auto;
  margin-top: 50px;
  width:60%;
  min-width:400px;
  .edit-button{
    display: inline-block;
    margin-top: 10px;
  }
  .delete-list-form{
    display: inline;
  }
  .delete-button{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    color: red;
  }
}
.titleOfSeries{
  margin-top:60px;
  width: 100%;
  min-width:400px;
  font-size: 40px;
  color: #333;
  padding-left: 15px;
  padding-right:15px;
}

.showArticles{
  margin-top:10px;
  width:100%;
  min-width:400px;
  padding-left: 15px;
  padding-right:15px;
  background-color: white;
}

.showArticles .article{
  margin:10px;
  height:100px;
  border: 0.5px solid #aaaaaa;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
}
.showArticles .article:hover{
  background-color: #efefef;
}
.showArticles .articleTitle{
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}
.showArticles .articleTag{
  margin-left: 10px;
  color: #777777;
}